<a href="https://colab.research.google.com/github/syedsajidhussain/python-codes-/blob/main/Unit_1_till_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("welcome to the data types")

In [ ]:
 print("welcome class")
a = 10j
b = False
#c = a+b
#print(c)
print(type(b))

welcome class
<class 'bool'>

**Integer**

In [ ]:
a= 2
print(type(a))

<class 'int'>

In [ ]:
a=2222232323232332
print(type(a))

<class 'int'>

**Float**

In [ ]:
a= 2.5
print(type(a))

<class 'float'>

In [ ]:
a= .5
print(type(a))

<class 'float'>

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Boolean:
Objects of Boolean type may have one of two values, True or False**

In [ ]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

**String:
1. Strings in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes.
• 'hello' is the same as "hello".
• Strings can be output to screen using the print function.**

In [ ]:
stri_1='hello_world'
type('stri_1')

str

In [ ]:
a= "10"
b= "20"
print(a + b)

30

In [ ]:
birth_year = int(input("What is my age? "))
age = 2024 - birth_year
print(age)

What is my age? 1992
32

In [ ]:
a= 10
b= 20.5
c = a+ b
print(type(c))

<class 'float'>

**Suppressing Special Character:**

In [ ]:
#new line
print('a \n b')
print("mrcet \n college")

a
 b
mrcet
 college

In [ ]:
#tabs
print("a\tb")

a	b

**Input Function**

In [ ]:
name = input("What is your name? ")
print(name)
print("hello" + name)

**Type-Conversion**

	We have the data types:


*   Numbers(int, float)
*   Strings
*   Boolean(True, False)

In [ ]:
birth_year = input(“enter your birth year”)
age = 2024 – birth_year
Print(“My age is:”  + age )

**Type Conversion Functions:**

1.   int()
2.   float()

1.   bool()
2.   str()

In [ ]:
#Exercise:
a= 10
b= 10.2
sum = a+b
print(sum)
#what will be the output

In [ ]:
First = input(“First:”)
Second = input(“second:”)
Sum = first + second
Print(sum)


#Print(“Sum:” + sum)

**Dynamic Typing**

In [ ]:
#To combine both text and variable python uses the ‘+’ character
x= ‘python is’
y=“awesome”
Print(x+y)

**String Literals**
String literals in python are surrounded by either single or double quotes
*'hello' is same as "hello"*
Strings in python are arrays of bytes representing unicode characters. However python doesnt have a character data type, a single character is simply a string with length of 1

In [ ]:
#Example
a= "Hello_world"
print(a)
print(a[1])
print(a[2:5])
print(len(a))
print(a.lower())
print(a.upper())
print(a.replace("H", "j"))
print(a.find('o')) #output: 1
print(a.replace()) #output : python 4 beginners
#print(‘python’ in course) # output: True(in is a special operator)
a.upper()

In [ ]:
a= 'b'
print(type(a))

<class 'str'>

**Python Operators**
Oprators are used to perform operations on varaiables and values.
Python divides the operators in the following groups:
1. Arithmetic
1. Assignment operators
2. Comparison operators
2. Logical operator
1. Identity operators
2. Membership operators
1. Bitwise operators

**Arithmetic Operators in Python**
Python Arithmetic operators are used to perform basic mathematical operations like addition, subtraction, multiplication, and division.

In Python 3.x the result of division is a floating-point while in Python 2.x division of 2 integers was an integer. To obtain an integer result in Python 3.x floored (// integer) is used.**

In [ ]:
val1 = 2
val2 = 3

# using the addition operator
res = val1 + val2
print(res)

In [ ]:
a = input("Enter the first variable \n")
b = input("Enter the second variable \n")
c = a+ b
d= a-b
e = a*b
f = a% b
g = a/b
h = a//b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

In [ ]:
val1 = 2
val2 = 3

# using the subtraction operator
res = val1 - val2
print(res)

In [ ]:
val1 = 2
val2 = 3

# using the multiplication operator
res = val1 * val2
print(res)

In [ ]:


val1 = 3
val2 = 2

# using the division operator
res = val1 / val2
print(res)

In [ ]:
val1 = 3
val2 = 2

# using the modulus operator
res = val1 % val2
print(res)

In [ ]:
val1 = 2
val2 = 3

# using the exponentiation operator
res = val1 ** val2
print(res)

In [ ]:
val1 = 3
val2 = 2

# using the floor division
res = val1 // val2
print(res)

**Relational operators are used for comparing the values. It either returns True or False according to the condition. These operators are also known as Comparison Operators.**

In [ ]:
a = 9
b = 5
print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

**Logical Operators**

In [ ]:
# Python program to demonstrate
# logical and operator
a = 10
b = 10
c = -10
if a > 0 and b > 0:
	print("The numbers are greater than 0")
if a > 0 and b > 0 and c > 0:
	print("The numbers are greater than 0")
else:
	print("Atleast one number is not greater than 0")

In [ ]:
# Python program to demonstrate
# logical and operator
a = 10
b = 12
c = 0
if a and b and c:
	print("All the numbers have boolean value as True")
else:
	print("Atleast one number has boolean value as False")
#Note: If the first expression is evaluated to be false while using
# the AND operator, then the further expressions are not evaluated.

In [ ]:
# Python program to demonstrate
# logical or operator
a = 10
b = -10
c = 0
if a > 0 or b > 0:
	print("Either of the number is greater than 0")
else:
	print("No number is greater than 0")
if b > 0 or c > 0:
	print("Either of the number is greater than 0")
else:
	print("No number is greater than 0")

Either of the number is greater than 0
No number is greater than 0

In [7]:
# Python program to demonstrate
# logical not operator
a = 10

if a:
	print("Boolean value of a is True")
if (a%3 == 0 or a%5 == 0):
	print("10 is not divisible by either 3 or 5")
else:
	print("10 is divisible by either 3 or 5")

Boolean value of a is True
10 is not divisible by either 3 or 5

**Order of Precedence of Logical Operators**

**In the case of multiple operators, Python always evaluates the expression from left to right. We can verify Python logical operators precedence by the below example**

In [8]:
# Python program to demonstrate
# order of evaluation of logical
# operators
def order(x):
	print("Method called for value:", x)
	return True if x > 0 else False
a = order
b = order
c = order
if a(-1) or b(5) or c(10):
	print("Atleast one of the number is positive")

Method called for value: -1
Method called for value: 5
Atleast one of the number is positive

**Bitwise operators**

In [15]:
# Python program to show
# bitwise operators

a = 10
b = 4

# Print bitwise AND operation
print("a & b =", a & b)

# Print bitwise OR operation
print("a | b =", a | b)

# Print bitwise NOT operation
print("~a =", ~a)

# print bitwise XOR operation
print("a ^ b =", a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

**Assignment Operators in Python**

In [18]:
a = 3
b = 5

a = a + b
print(a)
a += b
print(a)
'''

a= a+b
#a = a - b
x -= y

# a = a * b
a *= b

# a = a / b
a /= b

# a = a % b
a %= b

# a = a ** b
a **= b


# a = a // b
x //= y


# a = a & b
a &= b


a = 3
b = 5

# a = a >> b
a >>= b

# Output
print(a)
'''
# Output
print(a)

8
13
13

**Membership Operators**

In [ ]:
Already done