<a href="https://colab.research.google.com/github/syedsajidhussain/python-codes-/blob/main/Unit_2_list_to_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists**

In [ ]:
names = ["sajid", "nadeem" ,"touseef", "shahid", "Ram"]
print(names[0])     #sajid
print(names[-4])   #nadeem
names[2] = "tia"   #replace the name at index 2 with tia
print(names)

print(names[0:3])    #sajid, nadeem tia

names.append("Ajay")
print(names)    #"sajid", "nadeem" ,"tia", "shahid", "Ram", "Ajay"

names.insert(0, "Rama")
print(names)   #"Rama","sajid", "nadeem" ,"tia", "shahid", "Ram", "Ajay"

names.remove("nadeem")
print(names)

print("sajid" in names)

print(len(names)) #6

names.clear()
print(names)  #[]

sajid
nadeem
['sajid', 'nadeem', 'tia', 'shahid', 'Ram']
['sajid', 'nadeem', 'tia']
['sajid', 'nadeem', 'tia', 'shahid', 'Ram', 'Ajay']
['Rama', 'sajid', 'nadeem', 'tia', 'shahid', 'Ram', 'Ajay']
['Rama', 'sajid', 'tia', 'shahid', 'Ram', 'Ajay']
True
6
[]

In [ ]:
num_list = [1,2,3,4,5,6 ]
for i in num_list:
  print(i)




i = 1
while i <= len(numbers):
  print(i)
  i =i + 1

In [ ]:
L1 =[1,2,3,4,5,6,7,0]
all(L1)
any(L1)
L2 =[1,2,3,4,5,6,7,False]
any(L1)
all(L1)

**List comprehension**

In [ ]:
my_name = "Sajid"
list1 = [i for i in my_name]
list1

In [ ]:
my_list = [i for i in range(40) if i% 2 ==0]
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [ ]:
my_list2 = [num**2 for num in range(10)]
my_list2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#extract numbers from a string
mystr_1 ="one 1 two 2 three 3 four 4 five 5 six 6 seven 7 8 9 "
numbers = [i for i in mystr_1 if i.isdigit()]
numbers

In [ ]:
#extract letters from a string
mystr_2 ="one 1 two 2 three 3 four 4 five 5 six 6 seven 7 8 9 "
letters = [i for i in mystr_2 if i.isalpha()]
letters

range()

**Tuple**

In [ ]:
tuple_1 = (1,2,3,4,5,6,7,8,'sajid', 'shahid')
tuple_1[0]
tuple_1[-1]
tuple_1[0:3]
tuple_1[-3:]
tuple_1[:]

#del mytuple[0]
#mytuple[0] = 1        #not poosible because tuples are immutable

In [ ]:
tuple = (1,2,3,4,5,6,7,8,'sajid', 'shahid')
for i in tuple:
  print(i)

In [ ]:
tuple1 = (1,2,3,4,5,6,7,8,'sajid', 'shahid')
for i in enumerate(tuple1):
  print(i)

In [ ]:
tuple1.count(1) #occurences of 1

Tuple-membership

In [ ]:
tuple_1 = (1,2,3,4,5,6,7,8,'sajid', 'shahid')
1 in tuple_1

True

In [ ]:
tuple_1 = (1,2,3,4,5,6,7,8,'sajid', 'shahid')
9 in tuple_1

False

In [ ]:
if 3 in tuple_1:
  print("three exists in the above tuple ")
else:
  print("three doesn't exist in the above tuple ")

three exists in the above tuple

**Strings**

In [ ]:
#concat
a='sajid '
b = 'shahid'
c = a+b
print("the concatenated string is: ", c )

#multiply
print(a * 3)

the concatenated string is:  sajid shahid
sajid sajid sajid

In [ ]:
#append
str1 ="hello "
print(id(str1))
name = input("enter your name ")
str1 += name
print(id(str1))
print(str1)

132966900161520
enter your name sajid
132967346964336
hello sajid

In [ ]:
#string formatting operator
name ="sajid"
age = 30
print("name = %s and age= %d" %(name , age))

name = sajid and age= 30

**Set**

In [ ]:
set1 = {1, 2.0, 'abc', 'sajid', 'Rama'}
print(set1)

{1, 2.0, 'sajid', 'Rama', 'abc'}

In [ ]:
set1 = {1, 2, 3, 4 , 5}
set2 = {3, 5, 7, 8}
set3 = {7, 8, 9, 10}

set1 or set2
#set1.union(set2)
#set1.union(set2, set3)
#set1

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
set1.update(set2,set3)
set1

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [ ]:
set1 & set2
#same as      set1.intersection(set2)
#set1.intersection_update(set2)
#set1

difference

In [ ]:
set1 = {1, 2, 3, 4 , 5}
set2 = {3, 5, 7, 8}

set1-set2

{1, 2, 4}

subset, superset & Disjoint

In [ ]:
a ={1,2,3,4,5,6,7,8,9}
b = {3,4,5,6,7}
c = {10,20,30,40}
b.issubset(a)

**Dictionary**

In [ ]:
dict = {'sap-id' : 40004007,
        'name' : 'sajid',
          'qual' :'PhD',
        'dept' : 'socs'}
print(dict)
print(dict['sap-id']) # value of the key 40004007
print(dict['qual'])  # PhD
dict['experience']= '7 years' #adding or modifying
print(dict)

#modification
dict['dept']= 'EIED'
print(dict)

{'sap-id': 40004007, 'name': 'sajid', 'qual': 'PhD', 'dept': 'socs'}
40004007
PhD
{'sap-id': 40004007, 'name': 'sajid', 'qual': 'PhD', 'dept': 'socs', 'experience': '7 years'}
{'sap-id': 40004007, 'name': 'sajid', 'qual': 'PhD', 'dept': 'EIED', 'experience': '7 years'}